:root {
    background-color: blue;
}
*{
    margin: 0 0;
    padding: 0;
    border: 0
}


.up_bar{
    width: 100%;
    /* height: 5vh; */
    min-height: 5vh;
    background-color: green;
    display: block;
    /* margin-bottom: 0; */
    /* overflow: hidden; */
    float: right;
    border: 1px solid black;
    /* display: inline; */
}

.up_bar ul li{
    display: inline;
    float: left;
    margin: auto 5px;
    padding: 3px;
    border: 1px solid black;  
    border-radius: 10%;
    background-color: chartreuse;
    /* min-height: fit-content; */
    
}

.main_area{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 95vh;
    /* border: 10px solid black; */
    position: relative;
    /* z-index: 20; */
}

.main_about{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 95vh;
    /* border: 10px solid black; */
    position: relative;
    background-image: url(flood.jpg);
    background-position: center;
    background-size: cover;
    object-position: center;
    /* z-index: 20; */
}

.main_score{
    box-sizing: border-box;
    float: left;
    width: 100%;
    height: 95vh;
    /* border: 10px solid black; */
    position: relative;
    background-image: url(andy-walsh-cthulhu1-ship-port-andywalshart-1800px2.jpg);
    background-position: center;
    background-size: cover;
    /* z-index: 20; */
}

.left{
    /* padding: 1px; */
    box-sizing: border-box;
    background-color: rgb(23, 82, 43);
    float: left;
    width: 20%;
    height: 100%;
    position: relative;
    display: block;
    border-right: 5px solid rgb(87, 76, 18);
    /* margin-top: 0; */
    /* border: 1px solid black; */
    /* left: 0vw;
    top: 0vh; */
    
}

.right{
    /* padding: 1px; */
    box-sizing: border-box;
    background-color: rgb(23, 82, 43);
    float: left;
    width: 20%;
    height: 100%;
    position: relative;
    display: block;
    border-left: 5px solid rgb(87, 76, 18);

    /* margin: 0 0; */
    /* border: 1px solid black; */
    /* left: 80vw;
    top: 0vh; */
}

.center{
    /* padding: 1px; */
    box-sizing: border-box;
    background-image: url(/cthulhu_and_the_ninth_wave_by_fantasio_d9nw88r-fullview.jpg);
    background-position: center;
    background-size: cover;
    float: left;
    height: 100%;
    width: 60%;
    /* margin-top: 0; */
    /* border: 5px solid black; */
    color: blanchedalmond;
    position: relative;
    /* left: 20vw;
    top: 0vh; */

}
.down_bar{
    position: relative;
    top: 90%

}
